/*  your css code here. If applicable */
body{
    width: 1100px;
}

#ab {
    width: 200px;
}
#cd{
    width: 200px;
}
#bc{
   
	 .imageContainer {
            width: 300px;
            height: auto;
            border: 2px solid #000;
            padding: 10px;
            text-align: center;
        }

        .imageContainer img {
            max-width: 100%;
            height: auto;
        }
