/*  your css code here. If applicable */
body{
    width: 1100px;
}
   .imagecontainer {
       width: 500px;
}
.imageContainer img {
       width: 500px;
}

#ab {
    width: 200px;
}
#cd{
    width: 200px;
}
#bc{
	width :600px;
}
   
